<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 
 
  <servlet>
    <servlet-name>SinhVienServlet</servlet-name>
    <servlet-class>controller.SinhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SinhVienServlet</servlet-name>
    <url-pattern>/SinhVienServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SinhVienServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AddSinhVienServlet</display-name>
    <servlet-name>AddSinhVienServlet</servlet-name>
    <servlet-class>controller.AddSinhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSinhVienServlet</servlet-name>
    <url-pattern>/AddSinhVienServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EditSinhVienServlet</display-name>
    <servlet-name>EditSinhVienServlet</servlet-name>
    <servlet-class>controller.EditSinhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSinhVienServlet</servlet-name>
    <url-pattern>/EditSinhVienServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DeleteSinhVienServlet</display-name>
    <servlet-name>DeleteSinhVienServlet</servlet-name>
    <servlet-class>controller.DeleteSinhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSinhVienServlet</servlet-name>
    <url-pattern>/DeleteSinhVienServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>