<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QLSinhVien</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>DeleteSV</servlet-name>
    <servlet-class>controller.DeleteSinhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSV</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AddSV</servlet-name>
    <servlet-class>controller.AddSinhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSV</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>EditSV</servlet-name>
    <servlet-class>controller.EditSinhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSV</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>SinhVienSVL</servlet-name>
    <servlet-class>controller.SinhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SinhVienSVL</servlet-name>
    <url-pattern>/SinhVien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>LoginSVL</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>LogoutSVL</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSVL</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutSVL</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ChangeLanguage</display-name>
    <filter-name>ChangeLanguage</filter-name>
    <filter-class>controller.filter.ChangeLanguageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ChangeLanguage</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- <filter>
  	<filter-name>setUnicode</filter-name>
  	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>setUnicode</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping> -->
</web-app>