<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myJob</display-name>
  <welcome-file-list>
    <welcome-file>Hello.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>HelloSVL</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloSVL</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>UploadSVL</servlet-name>
    <servlet-class>Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSVL</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>SelectSV</servlet-name>
    <servlet-class>controller.SelectSVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSV</servlet-name>
    <url-pattern>/getAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ReadSV</servlet-name>
    <servlet-class>controller.ReadSVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadSV</servlet-name>
    <url-pattern>/Read</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>CreateSV</servlet-name>
    <servlet-class>controller.CreateSVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSV</servlet-name>
    <url-pattern>/Create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateSV</servlet-name>
    <url-pattern>/CRUD-INF/Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DeleteSV</servlet-name>
    <servlet-class>controller.DeleteSVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSV</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>UpdateSV</servlet-name>
    <servlet-class>controller.UpdateSVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSV</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>