<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>myProject</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<servlet-name>helloSVL</servlet-name>
		<servlet-class>demo.helloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloSVL</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>loginSVL</servlet-name>
		<servlet-class>demo.loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginSVL</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>tinhtoanSVL</servlet-name>
		<servlet-class>demo.tinhtoanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tinhtoanSVL</servlet-name>
		<url-pattern>/tinhtoan</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>ptbachaiSVL</servlet-name>
		<servlet-class>demo.ptbachaiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ptbachaiSVL</servlet-name>
		<url-pattern>/ptbachai</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>EditUserSVL</servlet-name>
		<servlet-class>controller.EditUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUserSVL</servlet-name>
		<url-pattern>/Edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>CreateUserSVL</servlet-name>
		<servlet-class>controller.CreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateUserSVL</servlet-name>
		<url-pattern>/Create</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>DeleteUserSVL</servlet-name>
		<servlet-class>controller.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUserSVL</servlet-name>
		<url-pattern>/Delete</url-pattern>
	</servlet-mapping>
</web-app>