<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 <!-- export excel file by quanlt -->
 	<bean id="ExcelBuilder"
	   	class="fasttrackse.ffse1704.fbms.dao.quanlynhansu.ExcelBuilder">
	</bean>
</beans>  