<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tinh</display-name>
    <servlet-name>Tinh</servlet-name>
    <servlet-class>myProject.Tinh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tinh</servlet-name>
    <url-pattern>/Tinh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>org.o7planning.sbi18n.controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/MainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>controller.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>controller.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/Show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>controller.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginFilter</display-name>
    <servlet-name>CheckLoginFilter</servlet-name>
    <servlet-class>controller.filter.CheckLoginFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginFilter</servlet-name>
    <url-pattern>/CheckLoginFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Filter</display-name>
    <servlet-name>Filter</servlet-name>
    <servlet-class>controller.filter.Filter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/Filter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeLanguageFilter</display-name>
    <servlet-name>ChangeLanguageFilter</servlet-name>
    <servlet-class>controller.filter.ChangeLanguageFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeLanguageFilter</servlet-name>
    <url-pattern>/ChangeLanguageFilter</url-pattern>
  </servlet-mapping>
</web-app>