<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myProject</display-name>
  <welcome-file-list>
    <welcome-file>demo.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TinhToan</display-name>
    <servlet-name>TinhToan</servlet-name>
    <servlet-class>TinhToan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TinhToan</servlet-name>
    <url-pattern>/TinhToan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackHome</display-name>
    <servlet-name>BackHome</servlet-name>
    <servlet-class>BackHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackHome</servlet-name>
    <url-pattern>/BackHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TinhToanPhuongTrinhBac2</display-name>
    <servlet-name>TinhToanPhuongTrinhBac2</servlet-name>
    <servlet-class>TinhToanPhuongTrinhBac2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TinhToanPhuongTrinhBac2</servlet-name>
    <url-pattern>/TinhToanPhuongTrinhBac2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editUser</servlet-name>
    <servlet-class>controller.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editUser</servlet-name>
    <url-pattern>/editUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>demoSVL</servlet-name>
    <servlet-class>demoServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demoSVL</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
</web-app>